$color-primary: #9365DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-hover: rgba(147, 101, 220, .28);
$h2-size:2em;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900i');

html {
    margin: 0;
    ul{
        margin: 0em;
    padding: 0em;
    }
    
    body {
        font-family: 'Roboto', sans-seirf;
      margin: 0;
    }
    #loading{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 100;
        background-color: #fff;
        
        animation-name: loading;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .modale{
            background-image: url(../images/loader.gif);
            width: 5em;
            height: 5em;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @keyframes loading{
        0%{
            display: flex;
          }

        100%{
            opacity: 0;
            display: none;
            z-index: -1;
        }
      }

}


header {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    position: sticky;
    height: 5em;

    .logo {
        background-position: center;
        background-image: url('../images/logo/ohmyfood.png');
        background-size: 10em;
        //width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        margin: auto;
        height: 5em;
        width: 10em;
    }
}

main {
    .main-wrapper{
        padding: 0 2em;
        max-width: 80em;
        margin: auto;
    }
}

footer {
    background-color: rgb(51, 50, 50);
    font-size: 1em;
    color: white;
    padding: 3em;
   
    .logo{
        background-image: url('../images/logo/ohmyfood.png');
        background-size: 10em;
        width: 10em;
        height: 1.7em;
        background-repeat: no-repeat;
        filter: invert(1);


    }    

    ul {
        list-style: none;
        padding-top:2em;

        li {
            line-height: 2em;
            font-size: 1.5em;

            a {
                color: white;
                text-decoration: none;

                .fo {
                    color: white;
                    margin-right: .5em;
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
            flex-direction: row;
        }
    }
}

@media only screen and (min-width: 992px) {
    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        text-align: center;

        .f-wrapper{
            margin: auto;
        }

        .logo{
            margin: auto;
        }
    
        ul {
            display: flex;
            list-style-type: none;
            flex-direction: row;
            li {
                padding: 1em;   
            }
            
        }
    }   

}