@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900i");
html {
  margin: 0;
}
html ul {
  margin: 0em;
  padding: 0em;
}
html body {
  font-family: "Roboto", sans-seirf;
  margin: 0;
}
html #loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  animation-name: loading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
html #loading .modale {
  background-image: url(../images/loader.gif);
  width: 5em;
  height: 5em;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes loading {
  0% {
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  height: 5em;
}
header .logo {
  background-position: center;
  background-image: url("../images/logo/ohmyfood.png");
  background-size: 10em;
  height: 100%;
  background-repeat: no-repeat;
  margin: auto;
  height: 5em;
  width: 10em;
}

main .main-wrapper {
  padding: 0 2em;
  max-width: 80em;
  margin: auto;
}

footer {
  background-color: #333232;
  font-size: 1em;
  color: white;
  padding: 3em;
}
footer .logo {
  background-image: url("../images/logo/ohmyfood.png");
  background-size: 10em;
  width: 10em;
  height: 1.7em;
  background-repeat: no-repeat;
  filter: invert(1);
}
footer ul {
  list-style: none;
  padding-top: 2em;
}
footer ul li {
  line-height: 2em;
  font-size: 1.5em;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a .fo {
  color: white;
  margin-right: 0.5em;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
  }
  footer .f-wrapper {
    margin: auto;
  }
  footer .logo {
    margin: auto;
  }
  footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }
  footer ul li {
    padding: 1em;
  }
}
main .main-wrapper {
  padding: 0 2em;
  max-width: 80em;
  margin: auto;
}
main .location {
  background-color: #dadada;
  align-content: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1.5em 1em;
}
main .location .fa-location-dot {
  padding: 0;
  margin-right: 1em;
}
main .location strong {
  font-size: 1em;
}
main .menu {
  text-align: center;
  height: 20rem;
  background-color: #ebebeb;
  line-height: 2em;
  padding-top: 3em;
}
main .menu h1 {
  font-size: 2em;
  font-weight: bold;
}
main .menu h3 {
  font-size: 1.5em;
  color: #878686;
  font-weight: normal;
}
main .bouton-resto {
  width: 15em;
  border-radius: 2em;
  cursor: pointer;
  color: white;
  text-align: center;
  font-weight: bold;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.25em;
  margin: 0em auto;
  background: linear-gradient(355deg, #9365DC, #FF79DA 100%);
}
main .fonctionnement {
  padding: 1em 0;
}
main .fonctionnement h2 {
  font-size: 2em;
  font-weight: bold;
}
main .fonctionnement .container .option {
  width: calc(100% - 2em);
  height: 8em;
  margin: auto;
}
main .fonctionnement .container .option .context {
  height: 6em;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1.5em;
  line-height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
main .fonctionnement .container .option .context:hover {
  background-color: rgba(147, 101, 220, 0.28);
}
main .fonctionnement .container .option .context:hover .icon {
  color: #9365DC;
}
main .fonctionnement .container .option .context .name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  font-weight: bold;
  margin-left: 1em;
  font-size: 1.25em;
}
main .fonctionnement .container .option .context .num {
  color: white;
  background-color: #9365DC;
  font-size: 0.5em;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 100%;
  transform: translateX(-50%);
}
main .fonctionnement .container .option .context .icon {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.9em;
}

.contenu {
  background-color: #f2f2f2;
  height: auto;
}
.contenu .principal {
  padding: 1em 0;
}
.contenu .principal h2 {
  font-size: 2em;
  font-weight: bold;
}
.contenu .principal article {
  margin: auto;
  padding: 0.5em;
}
.contenu .principal article a {
  text-decoration: none;
}
.contenu .principal article .pic1 {
  background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.contenu .principal article .pic2 {
  background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.contenu .principal article .pic3 {
  background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.contenu .principal article .pic4 {
  background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.contenu .principal article .picture {
  height: 15em;
  border-radius: 2em 2em 0 0;
  background-position: center;
  background-size: cover;
  position: relative;
}
.contenu .principal article .picture .new {
  background-color: #99E2D0;
  padding: 0.6em 1em;
  font-size: 1em;
  color: #129c7a;
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
  border-radius: 0.3rem;
}
.contenu .principal article .about {
  padding: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 2em 2em;
  color: black;
  margin-bottom: 1em;
}
.contenu .principal article .about .description h4 {
  margin: 0 0 0.5em;
  font-size: 1.5em;
}
.contenu .principal article .about .description p {
  font-size: 1rem;
  margin: 0;
}
.contenu .principal article .about .heart {
  font-size: 2em;
  display: flex;
}
.contenu .principal article .about .heart .filled {
  background: linear-gradient(45deg, #FF79DA 50%, #9365DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.contenu .principal article .about .heart:hover .filled {
  display: block;
}
.contenu .principal article .about .heart:hover .empty {
  display: none;
}

@media only screen and (min-width: 768px) {
  .fonctionnement .fonctionnement.container {
    padding: 2em;
  }
  .fonctionnement .fonctionnement.container .option {
    width: 70%;
  }
  .fonctionnement .fonctionnement.container .option .context {
    line-height: 6rem;
  }
  .fonctionnement .fonctionnement.container .option .context .name {
    margin-left: 1em;
    font-size: 1.25em;
  }
  .fonctionnement .fonctionnement.container .option .context .icon {
    font-size: 2.5em;
  }
  .fonctionnement .fonctionnement.container .option .context .num {
    font-size: 0.6em;
  }

  .contenu .principal .container-rpas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .contenu .principal .container-rpas article {
    padding: 2em;
    width: 25%;
  }
  .contenu .principal .container-rpas article .picture {
    padding: 0;
  }
  .contenu .principal .container-rpas article .picture .new {
    padding: 0.3em 0.5em;
    font-size: 1em;
    top: 0.5em;
    right: 0.5em;
  }
  .contenu .principal .container-rpas article .about .text {
    margin-right: 1em;
  }
}
@media only screen and (min-width: 992px) {
  .fonctionnement .fonctionnement.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em;
  }
  .fonctionnement .fonctionnement.container .option {
    width: 30%;
    margin-right: 1em;
  }
  .fonctionnement .fonctionnement.container .option .context {
    line-height: 6rem;
  }
  .fonctionnement .fonctionnement.container .option .context .name {
    margin-left: 0.5em;
    font-size: 1.25em;
  }
  .fonctionnement .fonctionnement.container .option .context .icon {
    font-size: 1.9em;
  }

  .contenu .principal .container-repas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .contenu .principal .container-repas article {
    padding: 2em;
    width: 40%;
  }
  .contenu .principal .container-repas article .picture {
    padding: 0;
  }
  .contenu .principal .container-repas article .picture .new {
    background-color: #99E2D0;
    padding: 0.3em 0.5em;
    font-size: 1em;
    top: 0.5em;
    right: 0.5em;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  .contenu .principal .container-repas article .about .description {
    margin-right: 1em;
  }
}

/*# sourceMappingURL=index.css.map */
