@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900i');
@import "default";

main {
    .main-wrapper{
        padding: 0 2em;
        max-width: 80em;
        margin: auto;
    }
    .location {
        background-color: #dadada;
        align-content: center;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5em 1em;

        .fa-location-dot{
            padding: 0;
            margin-right: 1em;
        }
       
        strong{
            font-size: 1em;
        }
    }

    .menu {
        text-align: center;
        height: 20rem;
        background-color: #ebebeb;
        line-height: 2em;
        padding-top: 3em;
       
        h1{
            font-size: 2em;
            font-weight: bold;
            
        }
        h3{
            font-size: 1.5em;
            color: #878686;
            font-weight: normal;
        }
    }

    .bouton-resto {
        width: 15em;
        border-radius: 2em;
        cursor: pointer;
        color: white;
        text-align: center;
        font-weight: bold;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 1.25em;
        margin: 0em auto;
        background: linear-gradient(355deg,$color-primary,$color-secondary 100%);
        
    }

    .fonctionnement{
        padding: 1em 0;

        h2{
            font-size: $h2-size;
            font-weight: bold;
        }

        .container{
          
            .option {
                width: calc(100% - 2em);
                height: 8em;
                margin: auto;
                cursor: pointer;
              
                .context {
                    height: 6em;
                    background-color: #f2f2f2;
                    display: flex;
                    flex-flow: row nowrap;
                    border-radius: 1.5em;
                    line-height: 6rem;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
                    

                    &:hover {
                        background-color: $color-primary-hover;
                        .icon {
                            color: $color-primary;
                            cursor: pointer;
                        }    

                    }   
                                    
                               
                   
                    .name {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        word-break: break-all;
                        font-weight: bold;
                        margin-left: 1em;
                        font-size: 1.25em;
                     

                    }

                    .num {
                        color: white;
                        background-color: $color-primary;
                        font-size: 0.5em;
                        margin-right: 1em;
                        width: 1em;
                        height: 1em;
                        padding: 0.5em;
                        text-align: center;
                        border-radius: 100%;
                        transform: translateX(-50%);
                        
                    }

                    .icon {
                        color: rgba(0, 0, 0, 0.45);
                        font-size: 1.9em;
                      
                       
                    }
                }
                
            }
        }
    }
}

.contenu {
    background-color: #f2f2f2;
    height: auto;

    .principal {
        padding: 1em 0;
        h2 {
            font-size: $h2-size;
            font-weight: bold;
        }

       

        article {
            margin: auto;
            padding: 0.5em;
            a{ 
                text-decoration: none;
            }
            .pic1 {
                background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            }

            .pic2 {
                background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
            }
            .pic3 {
                background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }
            .pic4 {
                background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }

           
            .picture {
               
                height: 15em;
                border-radius: 2em  2em 0 0;
                background-position:center;
                background-size: cover;
                position: relative;
            

                .new {
                    background-color: $color-tertiary;
                    padding: 0.6em 1em ;
                    font-size: 1em;
                    color: #129c7a;
                    position: absolute;
                    top:1em;
                    right: 1em;
                    font-weight: bold;
                    border-radius: 0.3rem;

                }

                
            }

            .about {
                padding: 1.5em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                background-color: white;
                border-radius: 0 0 2em 2em ;
                color: black;
                margin-bottom: 1em;

                .description {
                    
                    h4{
                        margin: 0 0 .5em;
                        font-size: 1.5em;
                    }

                    p {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
                .menu__btn {
                    height: 2em;
                    width: 2em;
                    background-color: initial;
                    border: 0 solid transparent;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;
                    background-color: #000;
                }
                .menu__btn:hover:before {
                    opacity: 1;
                }
                    
                .menu__btn:before, .menu__like {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }

                .menu__btn:before {
                    opacity: 0;
                    transition: .5s;
                    content: "";
                    background: linear-gradient(0deg,$color-primary, $color-secondary);
                }
                .menu__btn:hover .menu__like--noBg {
                    opacity: 0;
                }
                .card__like {
                    background-color: #fff!important;
                }
                .menu__like {
                    transition-duration: .25s;
                    background-color: #f6f6f6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    mix-blend-mode: lighten;
                }  
            }
        }

    }

}

@media only screen and (min-width: 768px) {
    
    .fonctionnement{

        .fonctionnement.container{ 
          
            padding: 2em;
            .option {
                width:70%;
                .context{
                    line-height: 6rem;
                    .name {
                
                        margin-left: 1em;
                        font-size: 1.25em;

                    }
                    .icon {
                      
                        font-size: 2.5em;
                       
                    }
                    .num{
                        font-size: 0.6em;
                    }

                }
            }
        }
            
    }

    .contenu {
        .principal {
            .container-rpas{

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                article{
                    padding: 2em;
                    width: 25%;
                    .picture{
                        padding: 0;
                        .new{
                        
                            padding: 0.3em 0.5em ;
                            font-size: 1em;
                            top: 0.5em;
                            right: 0.5em;
        
                        }
                    }
                    .about {
                        .text{
                            margin-right: 1em;
                        }
                    
                    }

                }
            }

        }
    }
}

@media only screen and (min-width: 992px) {
    .fonctionnement{

        .fonctionnement.container{ 
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 2em;
            .option {
                width:30%;
                margin-right:1em;
                .context{
                    line-height: 6rem;
                    .name {
                
                        margin-left: 0.5em;
                        font-size: 1.25em;

                    }
                    .icon {
                      
                        font-size: 1.9em;
                       
                    }

                }
            }
        }
    }
    .contenu {
        .principal {
            .container-repas{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                article{
                    padding: 2em;
                    width: 40%;
                    .picture{
                        padding: 0;
                        .new{
                            background-color: $color-tertiary;
                            padding: 0.3em 0.5em ;
                            font-size: 1em;
                            top: 0.5em;
                            right: 0.5em;
                            font-weight: bold;
                            border-radius: 0.3rem;
                        }
                    }
                    .about {
                        .description{
                            margin-right: 1em;
                        }
                    }
   
                }
            }

        }
    }
}
